*.gsheet

#BLAST
blastdb.nhd
blastdb.nhi
blastdb.nhr
blastdb.nin
blastdb.nog
blastdb.nsd
blastdb.nsi
blastdb.nsq
tblastn.txt

#Unversioned
data/HOGFasta/
data/HOG_to_gene_listings/
data/HierarchicalGroups.orthoxml
data/Primary_concordance_tree_with_sample_CFs_full_length_sequences_all_taxa.tre
data/WGDgc/
data/WGDgc_formatted_EAB_group.simmap
data/WGDgc_formatted_EAB_group.tre
data/bucky_tree_with_coalescent_unit_lengths.tre
data/bucky_tree_with_coalescent_unit_lengths__indented.tre
data/bucky_tree_with_coalescent_unit_lengths__rooted.tre
data/bucky_tree_with_coalescent_unit_lengths__rooted.tre.xtg
data/bucky_tree_with_coalescent_unit_lengths__rooted__WGD.simmap
data/bucky_tree_with_coalescent_unit_lengths__rooted__WGD.tre
data/bucky_tree_with_coalescent_unit_lengths__rooted__scaled.tre
data/cafe_prototype/
data/candidates/
data/created_by_muscle.fa
data/example_HOGs/
data/example_OGs/
data/per species HOG count/
data/phylogenetic_guides/
data/super_hog_test_viz/
fetch_colormap.ipynb
interact.ipynb
tmp/
Ash_Proteome/Fraxinus_excelsior_38873_TGAC_v2.longestCDStranscript.gff3.pep.fa
Ash_Proteome/Mguttatus_256_v2.0.protein_primaryTranscriptOnly.fa
Ash_Proteome/OE6A.longestpeptide.fa
Ash_Proteome/Orthologues_Jul04_2/
Ash_Proteome/Results_Jun19/
Ash_Proteome/Results_Jun25/
Ash_Proteome/Slycopersicum_390_ITAG2.4.protein_primaryTranscriptOnly.fa
Ash_Proteome/Species Overlap June25.gsheet
Ash_Proteome/data_sources_notes.txt
CAFE-4.1/data/cafe_orthofinder/Frax_species_tree_ultrametric_integers__with_WGD.tre
CAFE-4.1/data/cafe_orthofinder/Primary_concordance__short_names_convenience.xtg
CAFE-4.1/data/cafe_orthofinder/RAxML_result__rearranged_to_lauras_order.xtg
CAFE-4.1/data/cafe_orthofinder/RAxML_result__translated.tre
CAFE-4.1/data/cafe_orthofinder/filtered_OG_counts.csv
CAFE-4.1/data/cafe_orthofinder/filtered_OG_counts.txt_filesize_discrepancy
CAFE-4.1/data/cafe_orthofinder/rates.tre
CAFE-4.1/data/cafe_orthofinder/reports/WGD_rates_loose.tre
CAFE-4.1/data/cafe_orthofinder/reports/WGD_rates_loose__functional_categories_with_rapid_evolution.txt
CAFE-4.1/data/cafe_orthofinder/reports/WGD_rates_loose_summary_anc.csv
CAFE-4.1/data/cafe_orthofinder/reports/WGD_rates_loose_summary_anc__worksheet.gsheet
CAFE-4.1/data/cafe_orthofinder/reports/estimate_full.csv
CAFE-4.1/data/cafe_orthofinder/reports/rates.tre
CAFE-4.1/data/cafe_orthofinder/reports/rates_fix.tre
CAFE-4.1/data/cafe_orthofinder/tree_sanity.tre
CAFE-4.1/data/cafe_tutorial/filtered_HOG_counts.txt
CAFE-4.1/r8s_manual.pdf
CAFE-4.2/data/WGD_rates_loose__duplicates_worksheet.gsheet
CAFE-4.2/data/exemplars/Exemplar_Frax_species_tree__gain_and_loss.xtg
CAFE-4.2/data/exemplars/Exemplar_Frax_species_tree_internal_labeled.tre
CAFE-4.2/data/exemplars/Exemplar_Frax_species_tree_ultrametric_integers.tre
CAFE-4.2/data/exemplars/reports/exemplar_reestimate__grown.list
CAFE-4.2/data/exemplars/reports/exemplar_reestimate_summary.csv
CAFE-4.2/data/exemplars/reports/exemplar_reestimate_summary_anc.csv
CAFE-4.2/data/exemplars/reports/exemplar_reestimate_summary_anc.gsheet
CAFE-4.2/data/exemplars/reports/exemplar_reestimate_summary_anc.ods
CAFE-4.2/data/exemplars/reports/exemplar_reestimate_summary_fams.csv
GOenrich_db/archived/
GOenrich_db/goslim_plant.obo
GOenrich_db/graphviz-2.38.msi
GeMoMa-1.5/Extractor/
GeMoMa-1.5/FRAX09_large_72hr/annot09.sh.o327090
GeMoMa-1.5/FRAX09_large_72hr/cds-parts.fasta
GeMoMa-1.5/FRAX09_large_72hr/cds-parts__minus_FRAX09_large_72hr.png
GeMoMa-1.5/FRAX09_large_72hr/cds-parts__minus_tblastn.fasta
GeMoMa-1.5/FRAX09_large_72hr/gffread_filtered_protein.fasta
GeMoMa-1.5/FRAX09_large_72hr/tblastn-coverage.txt
GeMoMa-1.5/FRAX29/gffread_filtered_protein.fasta
GeMoMa-1.5/gene_validator/sample_gffread_filtered_protein.fasta.html/
RaXML8-Manual.pdf
data/Pennsylvanica_Feb2018_BRAKER_RNASeqandEA_augustus_051818.hints.gff
data/cds-parts.fasta
data/cds-parts.png
data/check_for_redundant_GeMoMa_models_in_OMA_results.pl
data/filtered_predictions_1.gff
data/gapcloser_merge_sample.csv
data/gff_files_for_diploid_taxa/.~lock.Fraxinus_excelsior_38873_TGAC_v2.gff3.functional_annotation.tsv#
data/gff_files_for_diploid_taxa/Fraxinus_excelsior_38873_TGAC_v2.gff3.functional_annotation.tsv.gz
data/number_of_FRAX08_sequences_in_each_HOG.txt
data/pennsylvanica annotation/
data/primary_concordance_tree_with_sample_CFs_full_length_sequences_EAB_group.tre
goenrich_notes_offline.txt
webgestalt.py




# Created by .ignore support plugin (hsz.mobi)
### Linux template
*~
env/
script_env/
env_pre_move/

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
.idea/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
venv/
ENV/

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject
### IPythonNotebook template
# Temporary data
.ipynb_checkpoints/
