# Global parameters
# maximal read length
max_rd_len=150
# Library 1, HiSeq reads
[LIB]
# Average insert size from bowtie mapping during SSPACE scaffolding
avg_ins=200
# Sequence doesn't need to be reversed (ie standard PE sequencing)
reverse_seq=0
# Reads used for both contig assembly and scaffolding
asm_flags=3
# use only first 150 bps of each read
rd_len_cutoff=150
#in which order the reads are used while scaffolding, should be smallest to largest
rank=1
# cutoff of pair number for a reliable connection (at least 3 for short insert size) [default]
pair_num_cutoff=3
#minimum aligned length to contigs for a reliable read location (at least 32 for short insert size) [default]
map_len=32
# Pairs
q1=/data/SBCS-BuggsLab/LauraKelly/HiSeq_data/trimmed_reads/FRAX09_GATCAG_L001_R1_001_P490_first_10bp_clipped_adapters_cut_quality_trimmed_min_50bp.fastq.gz
q2=/data/SBCS-BuggsLab/LauraKelly/HiSeq_data/trimmed_reads/FRAX09_GATCAG_L001_R2_001_P490_first_10bp_clipped_adapters_cut_quality_trimmed_min_50bp.fastq.gz
q1=/data/SBCS-BuggsLab/LauraKelly/HiSeq_data/trimmed_reads/FRAX09_GATCAG_L002_R1_001_P490_first_10bp_clipped_adapters_cut_quality_trimmed_min_50bp.fastq.gz
q2=/data/SBCS-BuggsLab/LauraKelly/HiSeq_data/trimmed_reads/FRAX09_GATCAG_L002_R2_001_P490_first_10bp_clipped_adapters_cut_quality_trimmed_min_50bp.fastq.gz
q1=/data/SBCS-BuggsLab/LauraKelly/HiSeq_data/trimmed_reads/FRAX09_GATCAG_L001_R1_001_P492_first_10bp_clipped_adapters_cut_quality_trimmed_min_50bp.fastq.gz
q2=/data/SBCS-BuggsLab/LauraKelly/HiSeq_data/trimmed_reads/FRAX09_GATCAG_L001_R2_001_P492_first_10bp_clipped_adapters_cut_quality_trimmed_min_50bp.fastq.gz
q1=/data/SBCS-BuggsLab/LauraKelly/HiSeq_data/trimmed_reads/FRAX09_GATCAG_L002_R1_001_P492_first_10bp_clipped_adapters_cut_quality_trimmed_min_50bp.fastq.gz
q2=/data/SBCS-BuggsLab/LauraKelly/HiSeq_data/trimmed_reads/FRAX09_GATCAG_L002_R2_001_P492_first_10bp_clipped_adapters_cut_quality_trimmed_min_50bp.fastq.gz
q1=/data/SBCS-BuggsLab/LauraKelly/HiSeq_data/trimmed_reads/FRAX09_GATCAG_L001_R1_001_P494_first_10bp_clipped_adapters_cut_quality_trimmed_min_50bp.fastq.gz
q2=/data/SBCS-BuggsLab/LauraKelly/HiSeq_data/trimmed_reads/FRAX09_GATCAG_L001_R2_001_P494_first_10bp_clipped_adapters_cut_quality_trimmed_min_50bp.fastq.gz
q1=/data/SBCS-BuggsLab/LauraKelly/HiSeq_data/trimmed_reads/FRAX09_GATCAG_L002_R1_001_P494_first_10bp_clipped_adapters_cut_quality_trimmed_min_50bp.fastq.gz
q2=/data/SBCS-BuggsLab/LauraKelly/HiSeq_data/trimmed_reads/FRAX09_GATCAG_L002_R2_001_P494_first_10bp_clipped_adapters_cut_quality_trimmed_min_50bp.fastq.gz
# The NextSeq libraries...
[LIB]
# Average insert size from bowtie mapping during SSPACE scaffolding
avg_ins=200
# Sequence doesn't need to be reversed (ie standard PE sequencing)
reverse_seq=0
# Reads used for both contig assembly and scaffolding
asm_flags=3
# use only first 150 bps of each read
rd_len_cutoff=150
#in which order the reads are used while scaffolding, should be smallest to largest
rank=1
# cutoff of pair number for a reliable connection (at least 3 for short insert size) [default]
pair_num_cutoff=3
#minimum aligned length to contigs for a reliable read location (at least 32 for short insert size) [default]
map_len=32
# Pairs
q1=/data/SBCS-BuggsLab/LauraKelly/NextSeq_data/trimmed_reads/9_S28_L001_R1_001_v2_first_10bp_last_5bp_clipped_adapters_cut_quality_trimmed_min_50bp.fastq.gz
q2=/data/SBCS-BuggsLab/LauraKelly/NextSeq_data/trimmed_reads/9_S28_L001_R2_001_v2_first_10bp_last_5bp_clipped_adapters_cut_quality_trimmed_min_50bp.fastq.gz
q1=/data/SBCS-BuggsLab/LauraKelly/NextSeq_data/trimmed_reads/9_S28_L002_R1_001_v2_first_10bp_last_5bp_clipped_adapters_cut_quality_trimmed_min_50bp.fastq.gz
q2=/data/SBCS-BuggsLab/LauraKelly/NextSeq_data/trimmed_reads/9_S28_L002_R2_001_v2_first_10bp_last_5bp_clipped_adapters_cut_quality_trimmed_min_50bp.fastq.gz
q1=/data/SBCS-BuggsLab/LauraKelly/NextSeq_data/trimmed_reads/9_S28_L003_R1_001_v2_first_10bp_last_5bp_clipped_adapters_cut_quality_trimmed_min_50bp.fastq.gz
q2=/data/SBCS-BuggsLab/LauraKelly/NextSeq_data/trimmed_reads/9_S28_L003_R2_001_v2_first_10bp_last_5bp_clipped_adapters_cut_quality_trimmed_min_50bp.fastq.gz
q1=/data/SBCS-BuggsLab/LauraKelly/NextSeq_data/trimmed_reads/9_S28_L004_R1_001_v2_first_10bp_last_5bp_clipped_adapters_cut_quality_trimmed_min_50bp.fastq.gz
q2=/data/SBCS-BuggsLab/LauraKelly/NextSeq_data/trimmed_reads/9_S28_L004_R2_001_v2_first_10bp_last_5bp_clipped_adapters_cut_quality_trimmed_min_50bp.fastq.gz
q1=/data/SBCS-BuggsLab/LauraKelly/NextSeq_data/trimmed_reads/9_S9_L001_R1_001_Run1_first_10bp_last_5bp_clipped_adapters_cut_quality_trimmed_min_50bp.fastq.gz
q2=/data/SBCS-BuggsLab/LauraKelly/NextSeq_data/trimmed_reads/9_S9_L001_R2_001_Run1_first_10bp_last_5bp_clipped_adapters_cut_quality_trimmed_min_50bp.fastq.gz
q1=/data/SBCS-BuggsLab/LauraKelly/NextSeq_data/trimmed_reads/9_S9_L002_R1_001_Run1_first_10bp_last_5bp_clipped_adapters_cut_quality_trimmed_min_50bp.fastq.gz
q2=/data/SBCS-BuggsLab/LauraKelly/NextSeq_data/trimmed_reads/9_S9_L002_R2_001_Run1_first_10bp_last_5bp_clipped_adapters_cut_quality_trimmed_min_50bp.fastq.gz
q1=/data/SBCS-BuggsLab/LauraKelly/NextSeq_data/trimmed_reads/9_S9_L003_R1_001_Run1_first_10bp_last_5bp_clipped_adapters_cut_quality_trimmed_min_50bp.fastq.gz
q2=/data/SBCS-BuggsLab/LauraKelly/NextSeq_data/trimmed_reads/9_S9_L003_R2_001_Run1_first_10bp_last_5bp_clipped_adapters_cut_quality_trimmed_min_50bp.fastq.gz
q1=/data/SBCS-BuggsLab/LauraKelly/NextSeq_data/trimmed_reads/9_S9_L004_R1_001_Run1_first_10bp_last_5bp_clipped_adapters_cut_quality_trimmed_min_50bp.fastq.gz
q2=/data/SBCS-BuggsLab/LauraKelly/NextSeq_data/trimmed_reads/9_S9_L004_R2_001_Run1_first_10bp_last_5bp_clipped_adapters_cut_quality_trimmed_min_50bp.fastq.gz
q1=/data/SBCS-BuggsLab/LauraKelly/NextSeq_data/trimmed_reads/9_S9_L001_R1_001_Run2_first_10bp_last_5bp_clipped_adapters_cut_quality_trimmed_min_50bp.fastq.gz
q2=/data/SBCS-BuggsLab/LauraKelly/NextSeq_data/trimmed_reads/9_S9_L001_R2_001_Run2_first_10bp_last_5bp_clipped_adapters_cut_quality_trimmed_min_50bp.fastq.gz
q1=/data/SBCS-BuggsLab/LauraKelly/NextSeq_data/trimmed_reads/9_S9_L002_R1_001_Run2_first_10bp_last_5bp_clipped_adapters_cut_quality_trimmed_min_50bp.fastq.gz
q2=/data/SBCS-BuggsLab/LauraKelly/NextSeq_data/trimmed_reads/9_S9_L002_R2_001_Run2_first_10bp_last_5bp_clipped_adapters_cut_quality_trimmed_min_50bp.fastq.gz
q1=/data/SBCS-BuggsLab/LauraKelly/NextSeq_data/trimmed_reads/9_S9_L003_R1_001_Run2_first_10bp_last_5bp_clipped_adapters_cut_quality_trimmed_min_50bp.fastq.gz
q2=/data/SBCS-BuggsLab/LauraKelly/NextSeq_data/trimmed_reads/9_S9_L003_R2_001_Run2_first_10bp_last_5bp_clipped_adapters_cut_quality_trimmed_min_50bp.fastq.gz
q1=/data/SBCS-BuggsLab/LauraKelly/NextSeq_data/trimmed_reads/9_S9_L004_R1_001_Run2_first_10bp_last_5bp_clipped_adapters_cut_quality_trimmed_min_50bp.fastq.gz
q2=/data/SBCS-BuggsLab/LauraKelly/NextSeq_data/trimmed_reads/9_S9_L004_R2_001_Run2_first_10bp_last_5bp_clipped_adapters_cut_quality_trimmed_min_50bp.fastq.gz
# The CGR-MP library 3KB
[LIB]
# Average insert size. 
avg_ins=2400
# Sequence need to be reversed (ie MP sequencing)
reverse_seq=1
# Reads used for both contig assembly and scaffolding
asm_flags=3
# use only first 150 bps of each read
rd_len_cutoff=150
#in which order the reads are used while scaffolding, should be smallest to largest
rank=2
# Next 2 parameters according to github instructions for mate-pair minimums
# cutoff of pair number for a reliable connection (at least 3 for short insert size) [default]
pair_num_cutoff=5
#minimum aligned length to contigs for a reliable read location (at least 32 for short insert size) [default]
map_len=35
# Pairs
q1=/data/SBCS-BuggsLab/Endymion/CLEANED/FRAX09_CGR-MP-3KB_A_R1_NOADAPTORS_prinseq_good_LIJj.fastq.gz
q2=/data/SBCS-BuggsLab/Endymion/CLEANED/FRAX09_CGR-MP-3KB_A_R2_NOADAPTORS_prinseq_good_NJPC.fastq.gz
q1=/data/SBCS-BuggsLab/Endymion/CLEANED/FRAX09_CGR-MP-3KB_B_R1_NOADAPTORS_prinseq_good_JanY.fastq.gz
q2=/data/SBCS-BuggsLab/Endymion/CLEANED/FRAX09_CGR-MP-3KB_B_R2_NOADAPTORS_prinseq_good_13Sh.fastq.gz
q1=/data/SBCS-BuggsLab/Endymion/CLEANED/FRAX09_CGR-MP-3KB_C_R1_NOADAPTORS_prinseq_good_LqdA.fastq.gz
q2=/data/SBCS-BuggsLab/Endymion/CLEANED/FRAX09_CGR-MP-3KB_C_R2_NOADAPTORS_prinseq_good_XmmP.fastq.gz
# The CGR-MP library 10KB
[LIB]
# Average insert size. 
avg_ins=7850
# Sequence need to be reversed (ie MP sequencing)
reverse_seq=1
# Reads used for both contig assembly and scaffolding
asm_flags=3
# use only first 150 bps of each read
rd_len_cutoff=150
#in which order the reads are used while scaffolding, should be smallest to largest
rank=2
# Next 2 parameters according to github instructions for mate-pair minimums
# cutoff of pair number for a reliable connection (at least 3 for short insert size) [default]
pair_num_cutoff=5
#minimum aligned length to contigs for a reliable read location (at least 32 for short insert size) [default]
map_len=35
# Pairs
q1=/data/SBCS-BuggsLab/Endymion/CLEANED/FRAX09_CGR-MP-10KB_A_R1_NOADAPTORS_prinseq_good_1X9w.fastq.gz
q2=/data/SBCS-BuggsLab/Endymion/CLEANED/FRAX09_CGR-MP-10KB_A_R2_NOADAPTORS_prinseq_good_CWuK.fastq.gz
q1=/data/SBCS-BuggsLab/Endymion/CLEANED/FRAX09_CGR-MP-10KB_B_R1_NOADAPTORS_prinseq_good_qlEk.fastq.gz
q2=/data/SBCS-BuggsLab/Endymion/CLEANED/FRAX09_CGR-MP-10KB_B_R2_NOADAPTORS_prinseq_good_VhoM.fastq.gz
q1=/data/SBCS-BuggsLab/Endymion/CLEANED/FRAX09_CGR-MP-10KB_C_R1_NOADAPTORS_prinseq_good_HnzI.fastq.gz
q2=/data/SBCS-BuggsLab/Endymion/CLEANED/FRAX09_CGR-MP-10KB_C_R2_NOADAPTORS_prinseq_good_ZSj9.fastq.gz

